* {
    box-sizing: border-box;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 0;
	scroll-behavior: smooth;
	text-align: justify;
	background-color: #e6f7ff;
}
p {
	font-size: 20px;
	text-align: left;
}

#buttons_div {
	display: flex;
    justify-content: center;
	flex-flow: column;
	align-items: center;
	border: 1px solid black;
	background-color: #cceeff;
	margin: 10px;
	padding: 20px;
	width: 200px;
	height: 600px;
}
canvas {
	margin: 20px;
	border: 1px solid black;
	height: 600px;
	width: 800px;
}

button {
	font-size: 16px;
	margin: 10px;
	padding: 5px;
}
button :hover {
	background-color: #cccccc;
	color: #1a1a1a;
}